<div class="container">
  <h3 class="text-center">List Of Books</h3>
  <div class="books-list">
    <div class="book-item" *ngFor="let book of $books | async">
      <a [routerLink]="['/book', book.id]"><h4>{{ book.title }}</h4></a>
    </div>
  </div>
</div>
