<div class="form-wrapper">

  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">

    <h3 class="mb-4">Book Info</h3>

    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" formControlName="author" class="form-control" id="author">
      <div *ngIf="submitted && form.author.errors" class="invalid-input">
        <div *ngIf="form.author.errors.required">Author is required</div>
        <div *ngIf="form.author.errors.minlength">Author's min length is 5 symbols</div>
        <div *ngIf="form.author.errors.maxlength">Author's max length is 40 symbols</div>
      </div>
    </div>

    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" formControlName="title" class="form-control" id="title">
      <div *ngIf="submitted && form.title.errors" class="invalid-input">
        <div *ngIf="form.title.errors.required">Title is required</div>
        <div *ngIf="form.title.errors.maxlength">Title's max length is 35 symbols</div>
      </div>
    </div>

    <div class="form-group">
      <label for="isbn">ISBN</label>
      <input type="text" formControlName="isbn" class="form-control" id="isbn">
      <div *ngIf="submitted && form.isbn.errors" class="invalid-input">
        <div *ngIf="form.isbn.errors.required">ISBN is required</div>
        <div *ngIf="form.isbn.errors.maxlength">ISBN's max length is 10 symbols</div>
      </div>
    </div>

    <div class="form-group">
      <label for="pages">Number of Pages</label>
      <input type="number" formControlName="pages" class="form-control" id="pages">
      <div *ngIf="submitted && form.pages.errors" class="invalid-input">
        <div *ngIf="form.pages.errors.required">Pages field is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="format">Format</label>
      <select formControlName="formatId" class="form-control" id="format">
        <option *ngFor="let format of $formats| async" [value]="format.id">{{ format.name }}</option>
      </select>
      <div *ngIf="submitted && form.formatId.errors" class="invalid-input">
        <div *ngIf="form.formatId.errors.required">Format is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea formControlName="description" class="form-control" id="description" rows="3"></textarea>
      <div *ngIf="submitted && form.description.errors" class="invalid-input">
        <div *ngIf="form.description.errors.required">Description is required</div>
        <div *ngIf="form.description.errors.maxlength">Description's max length is 150 symbols</div>
      </div>
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" formControlName="price" class="form-control" id="price">
      <div *ngIf="submitted && form.price.errors" class="invalid-input">
        <div *ngIf="form.price.errors.required">Price is required</div>
      </div>
    </div>

    <hr class="m-1 mb-5 mt-5">

    <h3 class="mb-4">Publisher Info</h3>

    <div class="form-group">
      <label for="country">Country</label>
      <select type="number" formControlName="countryId" class="form-control" id="country">
        <option *ngFor="let country of $countries| async" [value]="country.id">{{ country.name }}</option>
      </select>
      <div *ngIf="submitted && !cityChecked" class="invalid-input">City, company and country should match match</div>
      <div *ngIf="submitted && form.countryId.errors" class="invalid-input">
        <div *ngIf="form.countryId.errors.required">country is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="city">City</label>
      <select type="number" formControlName="cityId" class="form-control" id="city">
        <option *ngFor="let city of $cities | async" [value]="city.id">{{ city.name }}</option>
      </select>
      <div *ngIf="submitted && !cityChecked" class="invalid-input">City, company and country should match match</div>
      <div *ngIf="submitted && form.cityId.errors" class="invalid-input">
        <div *ngIf="form.cityId.errors.required">City is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="company">Company</label>
      <select type="number" formControlName="companyId" class="form-control" id="company">
        <option *ngFor="let company of $companies | async" [value]="company.id">{{ company.name }}</option>
      </select>
      <div *ngIf="submitted && !cityChecked" class="invalid-input">City, company and country should match match</div>
      <div *ngIf="submitted && form.companyId.errors" class="invalid-input">
        <div *ngIf="form.companyId.errors.required">Company is required</div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary mt-4">Submit</button>

  </form>

</div>
