<div class="full-width-container">

  <div class="row">

    <div class="col-xs-4">
      <form [formGroup]="searchBookForm" (ngSubmit)="onSubmit()">

        <h3 class="mb-4">Search</h3>

        <div class="form-group row">

          <label for="author" class="col-sm-3 col-form-label">Author</label>
          <div class="col-sm-7">
            <input type="text" formControlName="author" class="form-control" id="author">
          </div>

        </div>

        <div class="form-group row">

          <label for="title" class="col-sm-3 col-form-label">Title</label>
          <div class="col-sm-7">
            <input type="text" formControlName="title" class="form-control" id="title">
          </div>

        </div>

        <div class="form-group row">

          <label for="isbn" class="col-sm-3 col-form-label">ISBN</label>
          <div class="col-sm-7">
            <input type="text" formControlName="isbn" class="form-control" id="isbn">
          </div>

        </div>

        <div class="form-group row">
          <label for="format" class="col-sm-3 col-form-label">Format</label>
          <div class="col-sm-7">
            <select formControlName="formatId" class="form-control" id="format">
              <option *ngFor="let format of $formats| async" [value]="format.id">{{ format.name }}</option>
            </select>
          </div>
        </div>

        <div class="form-group row">

          <div class="col">
            <div class="row">

              <label for="page-min" class="col-sm-6 col-form-label">Pages between</label>
              <div class="col-sm-6">
                <input type="number" class="form-control" formControlName="pages_gte" id="page-min">
              </div>

            </div>
          </div>

          <div class="col">
            <div class="row">

              <label  class="col-sm-2 col-form-label text-center" for="page-max">and</label>
              <div class="col-sm-6">
                <input type="number" class="form-control" formControlName="pages_lte" id="page-max">
              </div>

            </div>
          </div>

        </div>

        <div class="form-group row">

          <div class="col">
            <div class="row">

              <label for="price-min" class="col-sm-6 col-form-label">Price between</label>
              <div class="col-sm-6">
                <input type="number" formControlName="price_gte" class="form-control" id="price-min">
              </div>

            </div>
          </div>

          <div class="col">
            <div class="row">

              <label  class="col-sm-2 col-form-label text-center" for="price-max">and</label>
              <div class="col-sm-6">
                <input type="number" formControlName="price_lte" class="form-control" id="price-max">
              </div>

            </div>
          </div>

        </div>

        <button type="submit" class="btn btn-primary mt-4">Submit</button>

      </form>
    </div>

    <div class="col-xs-8">
      <h3 class="mb-4">List of Matched Books</h3>
      <div *ngFor="let book of $books | async" class="book-item">
        <a [routerLink]="['/book', book.id]"><h4>{{ book.title }}</h4></a>
      </div>
    </div>

  </div>

</div>
